/* =============================
Author: Nick Alexander
Creation Date: February 2020
================================*/


/* ====================== MAIN ====================== */

main {
    background-image: linear-gradient(#1E3C4C, #3A5462);
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: #fff;
    background-color: #1E3C4C;
    text-align: center;
}


/* ====================== TYPOGRAPHY ====================== */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/* ====================== COLOURS ====================== */

.blue-light {
    color: #9FD6E8; 
}

.blue-mid {
    color: #8BBBCC;
}

.blue-dark {
    color: #3D7997;
}

.orange-light {
    color: #EB6C40;
}

.orange-dark {
    color: #FF4500;
}


/* ====================== NAVIGATION ====================== */

.navbar-dark {
    background-color: #1E3C4C;
    color: #fff;
}

.navbar-brand {
    padding-left: 0.5rem;
}

.navbar-brand img{
    height: 2.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #EB6C40;
}

.navbar-dark .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");   
}

.navbar-dark .navbar-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235,108,64,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler.navbar-toggler {
    border: none;
    padding-right: 0.5rem;
} 

.navbar-collapse .navbar-nav {
    text-align: right;
    padding-right: 0.5rem;
}

.dropdown-menu {
    background-color: #1E3C4C;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -0.3rem;
}

.dropdown-menu .dropdown-item {
    padding-left: 0.5rem;
    color: #fff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #1E3C4C;
    color: #EB6C40;
}

.navbar-collapse .navbar-nav .dropdown-menu .dropdown-item {
    text-align: left;
    padding-right: 1rem;
}


/* ====================== SECTIONS ====================== */

.index-head {
    background-color: #1E3C4C;  
}

.index-title {
    width: 70vw;
    margin: 1rem auto 3rem auto;
}

.index-blurb {
    max-width: 32rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.index-events {
    background-color: #EB6C40;
    padding: 2rem 2rem 4rem 2rem;
}

.index-events h1 {
    margin-bottom: 2rem;
}

.index-volunteer {
    background-color: #3D7997;
    padding: 5rem;
}

.index-volunteer .btn {
    margin-top: 1rem;
}

.index-review {
    background-color: #9FD6E8;
    padding: 4rem;
}

.index-review .card {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 15rem;
}

.index-review .carousel {
    margin: 0;
    padding: 0;
}

.index-review .carousel-inner {
    height: auto;
}

.index-review .carousel-item {
  height: auto;
}


.footer-wrapper {
    background-color: #00C2FF;
}

.event-hero {
  background-image: url(/images/about-hero.png);
  background-color: #111111;
  height: rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.about-container {
    color: #fff;
    background-color: #111;
    padding: 2rem;
}

.text-container {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.about-container .text-container .btn {
    margin-bottom: 2rem;
}

.text-container .text-muted {
    text-align: center;
}

.about-container p, .about-container h4 {
    text-align: justify;
}

.about-us-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 99;
  background-color: rgba(17, 17, 17, 0.5);
  border-radius: 0.3rem;
}

.about-cards {
  padding-top: 2rem;
}

.events-container {
    margin-bottom: 2rem;
}

.events-container .card {
    background-color: #EFEFEF;
}

.success-container {
    height: 63vh;
    padding-top: 10rem;
}

/* ====================== FORMS ====================== */

.my-form {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.my-form h4 {
    margin-top: 2rem;
}

.form-control {
    border-radius: 0.5rem;
}

.form-group {
    margin-top: -1rem;
}

.custom-select {
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.form-group .btn {
    margin-top: 1.5rem;
}

.form-check {
    margin-bottom: 1rem;
}

.rate {
    display: inline-block;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #EB6C40;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #EB6C40;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #EB6C40;
}

#exampleModalCenter {
    color: #000;
    text-align: left;
}

.terms-link {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: #EB6C40;
    padding: 0;
}

.terms-link:hover {
    text-decoration: underline;
}


/* ====================== EVENTS ====================== */

.event-hero img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.event-ticket-button a {
    margin-top: 3rem;
    z-index: 99;
}

/* ====================== CARDS ====================== */

.card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    color: #000;
}

.col {
    margin-top: 1rem;
}


/* ====================== BUTTONS ====================== */

.btn-primary {
    background-color: #EB6C40;
    border: none;
    width: 10rem;
    border-radius: 1rem;
}

.btn-primary:hover {
    background-color: #FF4500;
}


/* ====================== FOOTER ====================== */

.footer-wrapper {
/*    background-color: #3D7997;*/
    background-color: #1E3C4C;
    display: flex;
    position: relative;
    width: 100vw;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
}

.footer-wrapper .list-group {
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer-wrapper .list-group .list-group-item {
    background-color: #1E3C4C;
    border: none;
    color: #fff; 
    text-align: left;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    padding-right: 0;
}

.footer-right {
    margin-right: auto;
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: left;
}

.footer-right .footer-logo {
    width: 10rem;
}

.footer-right .footer-copy {
    margin-top: 1rem;
}





/* ===============================================
            CUSTOMIZE THE CAROUSEL
================================================== */

/* Carousel base class */
.carousel {
  margin: 0;
}

.carousel-inner {
    height: 20rem;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 17rem;
  width: 15rem;
  margin: auto;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: auto;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  opacity: 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* =================== RESPONSIVE SCREEN SIZES ========== */

@media screen and (max-width: 992px) { 
  .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item {
    text-align: right;
    padding-right: 1rem;
  } 
}

@media (min-width: 40em) {
/*   Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* == MEDIA QUERIES == */

/* == Generic mobile device == */
@media only screen and (max-width: 700px) {
	/* your CSS styles here */
}

/* == iPhone 4 == */
@media only screen 
    and (device-width : 320px) 
    and (device-height : 480px) 
	and (-webkit-device-pixel-ratio : 2) {
		/* your CSS styles here */
      .index-title {
        width: 90vw;
        margin: 1rem auto 2rem auto;
      }
}

/* == iPhone X == */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
	/* your CSS styles here */
      .index-title {
        width: 90vw;
        margin: 1rem auto 2rem auto;
      }
}

/* == iPhone 11 == */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { 
	/* your CSS styles here */
      .index-title {
        width: 90vw;
        margin: 1rem auto 3rem auto;
      }
}

/* == Google Pixel phone 2 XL == */
@media screen 
  and (device-width: 411px) 
  and (device-height: 823px) 
  and (-webkit-device-pixel-ratio: 3.5)
   {
	/* your CSS styles here */
     .index-title {
        width: 90vw;
        margin: 1rem auto 3rem auto;
      }
}

/* == Microsoft Windows phone == */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {
	/* your CSS styles here */
    .index-title {
        width: 90vw;
        margin: 1rem auto 3rem auto;
      }
}
